package {{.config.PackageName}}.utils;

import lombok.Data;

@Data
public class Query<T> {

    private static final long serialVersionUID = 1L;

    private T query;

    public static <T> Query<T> newQuery(T q) {
        Query<T> query = new Query<>();
        query.setQuery(q);
        return query;
    }

}
